 Common styles */
.nobr {
  white-space:nowrap;
}
/* !Common styles */

/* No javascript support message */
#no-js-support {
  background-color: #fff;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  font-weight: normal;
}

#no-js-support h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#no-js-support p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}
/* !No javascript support message */

/* no browser support message */
#browser-is-not-supported {
  background-color: #fff;
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646;
  font-weight: normal;
}

html.no-fontface #browser-is-not-supported,
html.no-boxshadow #browser-is-not-supported,
html.no-backgroundsize #browser-is-not-supported,
html.no-csstransforms #browser-is-not-supported,
html.no-cssanimations #browser-is-not-supported,
html.no-cssgradients #browser-is-not-supported {
  display: block !important;
}

#browser-is-not-supported h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#browser-is-not-supported p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}

#browser-is-not-supported .browsers-list {
  text-align: center;
}

#browser-is-not-supported .browsers-list a {
  padding: 0 10px;
}

#browser-is-not-supported .ignore-my-browser {
  text-decoration: underline;
  cursor: pointer;
}
/* !no browser support message */

/* content loader */
#content-loader {
  z-index: 2147483645;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(239,239,239,1) 0%, rgba(170,170,170,1) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(239,239,239,1)), color-stop(100%, rgba(170,170,170,1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(239,239,239,1) 0%, rgba(170,170,170,1) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(239,239,239,1) 0%, rgba(170,170,170,1) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(239,239,239,1) 0%, rgba(170,170,170,1) 100%);
  background-image: radial-gradient(ellipse at center, rgba(239,239,239,1) 0%, rgba(170,170,170,1) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #333;
  top: 50%;
  left: 50%;
  -webkit-animation: loader 2s infinite ease;
  -moz-animation: loader 2s infinite ease;
  -o-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #333;
  -webkit-animation: loader-inner 2s infinite ease-in;
  -moz-animation: loader-inner 2s infinite ease-in;
  -o-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* !content loader */

/* главная страница */
#part0 {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #efefef;
}

#part0 > h1 {
  position: absolute;
  width: 70%;
  left: 15%;
  top:2%;
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  font-size: 2.4vw;
}

#part0 > .bg-block {
  position: fixed;
  background-color: #bfbfbf;
  opacity: .7;
  border-radius: 50%;
  -webkit-transition: all 1.6s ease-in-out;
  -o-transition: all 1.6s ease-in-out;
  -moz-transition: all 1.6s ease-in-out;
  -ms-transition: all 1.6s ease-in-out;
  -kthtml-transition: all 1.6s ease-in-out;
  transition: all 1.6s ease-in-out;
}

#part0 > .bg-block.left-1 {
  left: -191%;
  top: -150%;
  height: 200vw;
  width: 200%;
}

#part0 > .bg-block.left-2 {
  left: -185%;
  top: -150%;
  height: 200vw;
  width: 200%;
}

#part0 > .bg-block.top-1 {
  left: -25%;
  top: -30%;
  height: 40%;
  width: 150%;
}

#part0 > .bg-block.bottom-1 {
  left: -50%;
  bottom: -35%;
  height: 50%;
  width: 200%;
}

#part0 > .bg-block.right-1 {
  right: -35%;
  bottom: -60%;
  height: 50vw;
  width: 50%;
}

#part0 > .bg-block.right-2 {
  right: -35%;
  bottom: 5%;
  height: 40vw;
  width: 40%;
}

#part0 > .bg-block.right-3 {
  right: -22%;
  top: -9%;
  height: 30vw;
  width: 30%;
}

#part0 .intro-text {
  position: absolute;
  width: 16%;
  left: 42%;
  top: 35%;
}

#part0 .intro-text .content {
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

#part0 .part-link.part1 {
  background-image: url("../img/part1-link.jpg");
  left: 20%;
}

#part0 .part-link.part1 .description {
  left: 0;
  border-radius: 20vw;
}

#part0 .part-link.part2 {
  background-image: url("../img/part2-link.jpg");
  right: 20%;
}

#part0 .part-link.part2 .description {
  right: 0;
  border-radius: 20vw;
}

#part0 .part-link {
  position: absolute;
  top: 30%;
  width: 20%;
  height: 20vw;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
  -moz-box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
  -o-box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
  box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#part0 .part-link:hover .description {
  width: 300%;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
  -moz-box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
  -o-box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
  box-shadow: 3px 3px 6px 2px rgba(129,129,127,.8);
}

#part0 .part-link .description {
  z-index: 2147483640; 
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  background-image: -moz-linear-gradient(45deg, rgba(174,174,174,1) 0%, rgba(155,155,155,1) 41%, rgba(123,123,123,1) 100%);
  background-image: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(174,174,174,1)), color-stop(41%, rgba(155,155,155,1)), color-stop(100%, rgba(123,123,123,1)));
  background-image: -webkit-linear-gradient(45deg, rgba(174,174,174,1) 0%, rgba(155,155,155,1) 41%, rgba(123,123,123,1) 100%);
  background-image: -o-linear-gradient(45deg, rgba(174,174,174,1) 0%, rgba(155,155,155,1) 41%, rgba(123,123,123,1) 100%);
  background-image: -ms-linear-gradient(45deg, rgba(174,174,174,1) 0%, rgba(155,155,155,1) 41%, rgba(123,123,123,1) 100%);
  background-image: linear-gradient(45deg, rgba(174,174,174,1) 0%, rgba(155,155,155,1) 41%, rgba(123,123,123,1) 100%);
}

#part0 .part-link .description p {
  font-size: 3vw;
  padding-top: 5%;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}
/* !главная страница */

/* часть 1, 2 */
#part1,
#part2 {
  display: none;
  width: 100%;
  background-color: #efefef;
  padding: 100px 0 90px 0;
  font-family: "Times New Roman", serif;
  font-size: 1.4em;
}

.container {
  width: 70%;
  background-color: #fff;
  padding: 40px 50px;
  margin-left: 13%;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
  -moz-box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
  -o-box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
  box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
}

.container h1,
.container h2 {
  text-align: center;
  font-weight: normal;
}
/* !часть 1 */

/* главное меню */
#part-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #dfdfdf;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
  -moz-box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
  -o-box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
  box-shadow: 3px 3px 3px 0 rgba(129,129,127,1);
}

#part-menu ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

#part-menu ul > li {
  display: inline-block;
  padding: 5px 15px;
  line-height: 40px;
  margin: 0;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#part-menu ul > li:hover {
  background-color: #afafaf;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
/* !главное меню */

/* Блок с изображениями */
.fancybox-title a {
  color: #fff;
}

.images-container {
  margin: 0;
  padding: 0 1%;
  width: 98%;
  text-align: center;
  display: inline-block;
}

.images-container.double.splitted {
  width: 47%;
}

.images-container.triple.splitted {
  width: 30%;
}

.images-container.quadruple.splitted {
  width: 22%;
}

.images-container > p {
  margin: 0 0 1em 0;
}

.images-container > a {
  display: inline-block;
  padding: 1%;
}

.images-container > a > img {
  display: inline-block;
  max-width: 100%;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, .6);
}

.images-container.single > a {
  width: 97.5%;
}

.images-container.double > a {
  width: 47%;
}

.images-container.double.splitted > a {
  width: 97.5%;
}

.images-container.triple > a {
  width: 30%;
}

.images-container.triple.splitted > a {
  width: 97.5%;
}

.images-container.quadruple > a {
  width: 22%;
}

.images-container.quadruple.splitted > a {
  width: 97.5%;
}

.images-container .description {
  font-style: italic;
}
/* !Блок с изображениями 